<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>Marca</th>
      <th>Descripcion</th>
      <th>Necesidad dinero</th>
      <th>Necesidad colaboradores</th>
      <th>Necesidad colaboradores cantidad</th>
      <th>Necesidad otra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.sector %></td>
        <td><%= project.marca %></td>
        <td><%= project.descripcion %></td>
        <td><%= project.necesidad_dinero %></td>
        <td><%= project.necesidad_colaboradores %></td>
        <td><%= project.necesidad_colaboradores_cantidad %></td>
        <td><%= project.necesidad_otra %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
